.bounding {
  @apply max-w-xs sm:max-w-md md:max-w-2xl lg:max-w-4xl xl:max-w-6xl;
}

.button {
  @apply px-6 py-2 uppercase tracking-widest;
}

.button--violet {
  @apply border-2 border-violet-900 text-violet-900 hover:(bg-violet-900 text-white) focus:(bg-violet-900 text-white);
}

.button--white {
  @apply border-2 border-gray-50/90 text-gray-50/90 hover:(border-white bg-white text-violet-900) focus:(border-white bg-white text-violet-900);
}

@media screen and (min-width: 1024px) {
  #hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 605px;
    z-index: -10;
    background-color: hsl(256, 26%, 20%);
  }
}
